<div class="footer">
    <div class="footer-item text-center">
        <div class="footer-item__title social">Мы в социальных сетях</div>
        <div class="footer-item__cell-social">
            <a href="https://vk.com/arendastopagent" class="external" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="https://twitter.com/netagentanet" class="external" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/netagenta" class="external" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://ok.ru/group/52746239934534" class="external" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="navy-line"></div>
    <div class="footer-copyright text-center">
        <p>2014 - {{ 'now'|date('Y') }} NET-AGENTA.net</p>
        <p>Все права защищены. <a class="external" href="/polzovatelskoe-soglashenie/">Пользовательское соглашение </a></p>
    </div>
</div>
