<div class="sidebar sidebar-menu hidden-xs hidden-sm">
    <a class="nav-link" href="/add/">Добавить объявление</a>
    <a class="nav-link" href="/account/data/">Мои объявления</a>
    <a class="nav-link" href="/account/profile/">Мой профиль</a>
    <a class="nav-link" href="/favorites/">Избранные предложения</a>
</div>

<div class="hidden-xs hidden-sm">
    <div id="yandex_ads">
        <div class="sidebar">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5036721344262288"
                 data-ad-slot="3621112056"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>