<div class="row">
    <div class="col-sm-24 col-md-18 col-lg-19 content">
        {{ breadcrumb }}
        {{ title }}
        {% if page %}
            {{ page.body }}
        {% else %}
            Список новостей пуст
        {% endif %}
    </div>
    <div class="col-md-6 col-lg-5 hidden-xs hidden-sm">
        <div class="row">
            {% include 'sidestatic.html.twig' %}
        </div>
    </div>
</div>