<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="icon mobile-menu"></i></a>
        </div>
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">Вход</div>
        <div class="right">
            <a href="/" class="link icon-only external"><i class="f7-icons">search</i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through toolbar-through">
    <div data-page="signin" class="page no-toolbar">
        <!-- Scrollable page content -->
        <div class="page-content hide-bars-on-scroll">
            <form class="ajax-form-login">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="email" placeholder="Email или логин">
                                </div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" name="pass" placeholder="Пароль">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="#" class="button button-big ">Войти</a>
                </div>
            </form>
        </div>
    </div>
</div>