<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="icon mobile-menu"></i></a>
        </div>
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">NET-AGENTA.net</div>
        <div class="right">
            <a href="/" class="link icon-only external"><i class="f7-icons">search</i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through toolbar-through">
    <div data-page="user-profile" class="page no-toolbar">
        <!-- Scrollable page content -->
        <div class="page-content hide-bars-on-scroll">
            <div class="content-block">
                <p>Личный кабинет временно не доступно для мобильной версии сайта. Пожалуйста, воспользуйтесь <a
                            class="external" href="/account/profile/?smartphone=off">полной версией</a>.</p>
                <p>Уже скоро будут доступны: синхронизация избранных объявлений, сохраненные поиски и управление своими объявлениями</p>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
</div>


