<div class="sidebar sidebar-menu">
    <a class="nav-link" href="/about/">О проекте</a>
    <a class="nav-link" href="/reviews/">Отзывы</a>
    <a class="nav-link" href="/faq/">Вопрос-Ответ</a>
    <a class="nav-link" href="/news/">Новости и акции</a>
    <a class="nav-link" href="/blanki-dogovorov/">Договор аренды</a>
</div>

<div class="sidebar adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5036721344262288"
         data-ad-slot="3621112056"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
