<div class="row">
    <h1 class="text-center h3">Удобный сервис для продажи и аренды</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 feature">
                <div class="feature-icon no-intermediaries-green"></div>
                <h4>Без посредников</h4>
                <p>Никаких посредников. Только прямые контакты собственников.</p>
            </div>
            <div class="col-xs-12 col-md-6 feature">
                <div class="feature-icon money-green"></div>
                <h4>Без комиссии</h4>
                <p>Никаких комиссий агентствам недвижимости или частным риэлторам.</p>
            </div>
            <div class="col-xs-12 col-md-6 feature">
                <div class="feature-icon large-base-green"></div>
                <h4>Большая база</h4>
                <p>Наша база ежедневно пополняется новыми проверенными объявлениями.</p>
            </div>
            <div class="col-xs-12 col-md-6 feature">
                <div class="feature-icon free_green"></div>
                <h4>Бесплатно</h4>
                <p>Совершенно бесплатно. Никаких оплат за доступ к объявлениям или размещение.</p>
            </div>
        </div>
        <br>
        <h3 class="text-center">Аренда и продажа недвижимости в {{ city_name('p') }}</h3>
        <br>
        <p>
            Снять или купить жилье без посредников стало очень сложно. Почти все доски объявлений просто переполнены
            предложениями от риэлторов. Даже когда видишь объявление «сдам квартиру собственник» — оказывается, что это
            очередной риэлтор.
        </p>
        <p>
            Но выход есть — скажи нет риэлтору! У нас собрана почти вся информация от собственников. Только лучшие
            предложения от собственников, ни каких риэлторов и скрытых комиссий. Все объявления проходят строгую
            модерацию, неактуальные удаляются.
        </p>
        <p>
            net-agenta.net — это аренда и продажа жилой недвижимости без посредников. Мы помогаем хорошим людям найти
            свой дом, сдать и продать недвижимость. Мы работаем, чтобы ваша жизнь стала проще.
        </p>
        <br><br><br>
    </div>
</div>